<div align = "center">
    <h1>안녕하세요 저는 FACT 입니다. ^^</h1>

    <div id = "create_h2">
        <h2> 음  <%= @rst_name %>은 개뿔 <%= @random_1 %> </h2>
    </div>
    <img src="/assets/4.jpg"/>
    
    
    
    
</div>
