<style="background-image:url('http://designbeche1.cafe24.com/wp-content/uploads/2013/07/Sangam-CJ-EM-Food-court-CENTER02.jpg');">
<div align="center" >
    <br>
    <br>
    <h1>선택장애 그것은 질병, 오늘은 뭐먹지?</h1>
    <br>
    <br>
    <br>
    <h2>아직 고민중인 당신, 두 가지 메뉴를 입력해주세요</h2>
        <h3>ex) OOO과 XXX</h3>
            <form action="/chat/create">
                <input type="text" name="content">
                <input type="submit">
            </form>
                <p>
                    MENU<br>
                    고기계란, 양파계란, 김치찌게, 철판치킨, 닭갈비 도식락<br>
                    짜장면, 황궁볶음밥, 간풍기 정식, 탕수육 정식<br>
                    빅맥, 상하이버거, 슈비버거, 1955<br>
                    참치김밥, 비빔냉면, 라볶이, 제육덮밥<br>
                    탕수육, 비빔밥, 오므라이스, 부대찌게, 오징어제육<br>
                </p>
</div>   
        